.game {
  padding: 20px;
  height: 100vh;
  background: #5cb655;
  &__title {
    text-align: center;
    margin-bottom: 10px;
    color: beige;
  }
  &__play {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  &__category {
    width: 20%;
    font-size: 30px;
    color: #2e7d32;
    padding: 10px 40px;
    background: beige;
    border-radius: 10px;
  }
  &__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
  }
  &__left {
    display: flex;
    column-gap: 40px;
    background: beige;
    border-radius: 10px;
    padding: 10px 20px;
    width: 400px;
    justify-content: space-between;
  }
  &__right {
    display: flex;
    column-gap: 40px;
    align-items: center;
  }
  &__check {
    font-size: 20px;
  }
  &__total {
    font-size: 25px;
    color: beige;
  }
  &__person {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: white;
  }
  &__list {

    opacity: 0;
    transition: 1s;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding: 90px 100px 100px;
    background: #fff;
    z-index: -5;
    flex-direction: column;
    row-gap: 20px;
    border-bottom-right-radius: 10px;
    transform: translateX(-100%);
    color: #2e7d32;
    font-size: 25px;
    &_active {
      opacity: 100;
      transition: 1s;
      z-index: 99;
      transform: translateX(0);
      background: #FFFFFF;
      box-shadow: 10px 10px 15px rgba(37, 37, 37, 0.07);
    }
  }
}

